<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- MyBatis SqlSessionFactoryBean을 스프링 빈으로 등록하는 설정 -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- DataSource 참조 -->
		<property name="dataSource" ref="dataSource" />
		<!-- MyBatis 전역 설정 파일 경로 -->
		<property name="configLocation" value="classpath:/egovframework/sqlmap/example/sql-mapper-config.xml" />
		<!-- SQL 매퍼 xml 파일 위치 -->
		<property name="mapperLocations" value="classpath:/egovframework/sqlmap/example/mappers/**/*.xml" />
	</bean>

	<!-- MyBatis Mapper 인터페이스를 자동으로 스캔하여 스프링 빈으로 등록하는 설정 -->
 	<bean class="egovframework.rte.psl.dataaccess.mapper.MapperConfigurer">
		<property name="basePackage" value="com.example.demo.mapper" />
	</bean>
    
</beans>